<!-- views/partials/header.ejs -->

<div class="container">
	<a href="https://www.guildford.gov.uk" title="Link to Guildford Borough Council Homepage">
		<img src="<%= process.env.iisnodeRoute %>/public/src/img/Logo.png" alt="Guildford Borough Council">
	</a>
</div>