<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<!-- < % include ../partials/header % > -->
		<% include ../partials/header_WebSiteStyle %>
	</header>

	<main>
	<div class="container">
	<p class="pull-right"><span class="label label-success"><%= process.env.version %></span></p>
	
	<div class="section" id="content">
		<h3>Check if a New House Name is Acceptable</h3>
		<div>
			<div class="row">
				<div class="col-md-12">
					<p>Use this page to check if your desired house name is acceptable.</p>
				</div>
			</div>
		</div>
		<hr>
		
	<!--angular app-->
    <div class="container-fluid" ng-app="app" ng-controller="appCtrl">
      <!--show postcode search-->
      <div ng-show="selectedAddress.data.length == 0">
        <h3>Search for your existing property</h3>
        <p>Type postcode and hit search</p>
        <form ng-submit="addressSearch()">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="searchValue" ng-model="searchValue" class="form-control" placeholder="Search by postcode">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
              </span>
            </div>
          </div>
		<div ng-show="results.statusCode!=200">
			<h3><label class="{{results.messageClass}}">Error {{results.statusCode}}: {{results.message}}</label></h3>
		</div>
        </form>
      </div>
      
      <!--show results.data -->
      <div ng-show="results.data.length > 0" style="display:block;">
        <h3>Select Your Property</h3>
        <p>Select from the list or retry the search</p>
        <a style="display:block; cursor:pointer;" ng-repeat="x in results.data" ng-click="selectAddress(x)">{{x.property}}, {{x.street}}, {{x.postcode}}</a>
    	  <!-- <pre>{{results.data | json}}</pre> -->
      </div>  
      
      <!--show selected address-->
      <div ng-show="selectedAddress.data.length > 0" style="display:block;">
        <h3>Your Property</h3>
        <h3 ng-repeat="x in selectedAddress.data"><label class="label label-default">{{x.property}}, {{x.street}}, {{x.postcode}}</label></h3>
    	  <!-- <pre>{{selectedAddress.data | json}}</pre> -->
      </div>
    
      <!--show house name checker search-->
      <div ng-show="selectedAddress.data.length > 0 "> <!-- && hasNewHouseNameBeenChecked === 'false' -->
        <h3>Check your new House Name</h3>
        <p>Type your new house name and hit check button to test if it is acceptable</p>
        <form ng-submit="newHouseNameCheck()">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="newHouseName" ng-model="newHouseName" class="form-control" placeholder="Type your new house name">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Check Name</button>
              </span>
            </div>
          </div>
        </form>
      </div>
      
	  <!-- loading spinner -->
	  <div class="loader" ng-show="loading===true"></div>
	  
	  <!-- show if all rules passed -->
	  <div ng-show="hasNewHouseNameBeenChecked===true && loading===false && nameCheckResponse.data.nameChecks.summary.pass===true">
		<h3>Result</h3>
		<h3><span class="label label-success">Pass</span></h3>
		<br>
        <p>Your proposed name of <strong>"{{newHouseName}}"</strong> has passed all automated checks. To apply to change your house name please submit <strong>"{{newHouseName}}"</strong> to our <a href="https://www.guildford.gov.uk/article/18875/House-name-change-request-form">House Name Change Request Form</a>.</p>
	  </div>
	  
	  <!-- show if any rules failed -->
	  <div ng-show="hasNewHouseNameBeenChecked===true && loading===false && nameCheckResponse.data.nameChecks.summary.pass===false">
        <h3>Result</h3>
		<h3><span class="label label-danger">Fail</span></h3>
		<br>
        <p>Your proposed name of <strong>"{{newHouseName}}"</strong> has failed some automated checks. Please review the house name rules below and try another name.</p>
		<div class="container-fluid">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Rule</th>
					<th>Status</th>
					<th>Example</th>
				</tr>
				<tr>
					<td>Profanity Detection</td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.profanityDetected===true"><h3><span class="label label-warning">Warning</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.profanityDetected===false"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.profanityDetected===true"><p>Possible profanity detected - consider if name might be easily vandalised.</p></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.profanityDetected===false"></td>
				</tr>
				<tr>
					<td>Identical Names in Same Street</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalNameInUSRN.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalNameInUSRN.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalNameInUSRN.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.identicalNameInUSRN.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalNameInUSRN.pass"></td>
				</tr>
				<tr>
					<td>Identical Names in Same Postcode Sector</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalNameInPostcodeSector.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalNameInPostcodeSector.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalNameInPostcodeSector.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.identicalNameInPostcodeSector.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalNameInPostcodeSector.pass"></td>
				</tr>
				<tr>
					<td>Identical Sounding Names in Same Street</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInUSRN.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInUSRN.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInUSRN.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInUSRN.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInUSRN.pass"></td>
				</tr>
				<tr>
					<td>Identical Sounding Names Same Postcode Sector</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInPostcodeSector.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInPostcodeSector.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInPostcodeSector.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInPostcodeSector.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.identicalSoundingNameInPostcodeSector.pass"></td>
				</tr>
				<tr>
					<td>Identical Name with Different Reserved Suffix in Same Street</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInUSRN.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInUSRN.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInUSRN.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInUSRN.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInUSRN.pass"></td>
				</tr>
				<tr>
					<td>Identical Name with Different Reserved Suffix in Same Postcode Sector</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInPostcodeSector.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInPostcodeSector.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInPostcodeSector.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInPostcodeSector.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalNameDifferentSuffixInPostcodeSector.pass"></td>
				</tr>
				<tr>
					<td>Identical Sounding Name with Different Reserved Suffix in Same Street</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInUSRN.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInUSRN.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInUSRN.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInUSRN.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInUSRN.pass"></td>
				</tr>
				<tr>
					<td>Identical Sounding Name with Different Reserved Suffix in Same Postcode Sector</td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInPostcodeSector.pass"><h3><span class="label label-danger">Fail</span></h3></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInPostcodeSector.pass"><h3><span class="label label-success">Pass</span></h3></td>
					<td ng-show="!nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInPostcodeSector.pass"><pre>{{nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInPostcodeSector.data | json}}</pre></td>
					<td ng-show="nameCheckResponse.data.nameChecks.rule.suffix.identicalSoundingNameDifferentSuffixInPostcodeSector.pass"></td>
				</tr>
			</table>
		</div>
      </div>
	  
    </div> 
    <!--end angular app-->
    
	</div> <!-- section -->
	</div> <!-- container -->
	</main>
	
<script src="<%= process.env.iisnodeRoute %>/public/src/js/nameCheckerApp.js"></script>

	<footer class="footer">
		<!-- < % include ../partials/footer % > -->
		<% include ../partials/footer_WebSiteStyle %>
	</footer>
    
</body>
</html>